---
import JobOfferCard from "../../components/JobOfferCard.astro";
import RichText from "../../components/RichText.astro";
import Socials from "../../components/Socials.astro";
import { DATA } from "../../data/data";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return DATA.sponsors
    .filter((sponsor) => sponsor.hasFeaturedPage)
    .map((sponsor) => ({
      params: { sponsor: sponsor.name },
    }));
}

const { sponsor } = Astro.params;

const sponsorData = DATA.sponsors.find((s) => s.name === sponsor);

if (!sponsorData || sponsorData.hasFeaturedPage === false) {
  return Astro.redirect("/");
}
---

<Layout
  title={`${sponsorData.name} | ${DATA.title}`}
  description={sponsorData.description}
  lang="es"
>
  <main class="flex flex-col gap-6 min-h-screen">
    <header class="p-6">
      <div class="md:w-8/12 p-4 md:p-10 mx-auto">
        <img
          transition:name={sponsorData.name}
          class="mx-auto h-full max-h-[400px]"
          src={sponsorData.picture}
        />
      </div>
    </header>
    {
      !!sponsorData.description !== undefined && (
        <div class="md:w-8/12 md:mx-auto flex flex-col gap-4 text-xl p-4 py-10">
          <RichText text={sponsorData.description} />
        </div>
      )
    }
    <div class="mx-auto mb-4">
      <Socials
        socials={sponsorData.socials}
        class="text-4xl text-green-600 dark:text-blue-600"
      />
    </div>
    {
      !!sponsorData.jobOffers.length && (
        <>
          <h3 class="text-3xl font-bold mx-auto text-center">
            Ofertas de Trabajo
          </h3>
          <section class="grid grid-cols-1 lg:grid-cols-2 py-2 px-6 pb-10 gap-6">
            {sponsorData.jobOffers.map((jobOffer) => (
              <JobOfferCard jobOffer={jobOffer} />
            ))}
          </section>
        </>
      )
    }
  </main>
</Layout>
