---
import { Image } from "astro:assets";
import RichText from "../../components/RichText.astro";
import Socials from "../../components/Socials.astro";
import { DATA } from "../../data/data";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return DATA.team.staff.map((_, index) => ({
    params: { staff: index },
  }));
}

const { staff } = Astro.params;

const staffData = DATA.team.staff[Number(staff)];

if (!staffData) {
  return Astro.redirect("/");
}
---

<Layout
  title={`${staffData.name} | ${DATA.title}`}
  description={staffData.description}
  lang="es"
>
  <main class="flex flex-col gap-6 min-h-screen wrapper">
    <aside class="px-6">
      <div
        class="grid grid-cols-1 lg:grid-cols-[2fr_4fr] gap-4 md:gap-6 lg:gap-12 w-full"
      >
        <section class="w-full flex-grow flex flex-col gap-3 mx-auto">
          <Image
            transition:name={`picture-staff-${staffData.name}`}
            class="w-full max-w-[300px] mx-auto rounded-md border-8 border-blue-600 dark:border-blue-600 aspect-square object-cover"
            src={staffData.picture}
            alt={`Picture of ${staffData.name}`}
            height={300}
            width={300}
          />
          <Socials
            socials={staffData.socials}
            class="text-4xl text-dark-background dark:text-light-background"
          />
        </section>
        <div class="flex flex-col gap-4">
          <h1
            transition:name={`name-staff-${staffData.name}`}
            class="text-6xl md:text-8xl font-bold"
          >
            {staffData.name}
          </h1>
          <h2
            class="text-2xl font-semibold text-orange-800 dark:text-orange-600"
          >
            {staffData.position}
          </h2>
          <div class="flex flex-col gap-4 text-xl">
            <RichText text={staffData.description} />
          </div>
        </div>
      </div>
    </aside>
  </main>
</Layout>
