---
import type { Socials } from "../data/data.type";
interface Props {
  socials: Socials;
  class?: string;
}

const { socials } = Astro.props;
---

<ul
  class="flex flex-row flex-wrap gap-2 md:gap-3 align-middle justify-center lg:justify-normal listnon text-lg md:text-xl lg:text-2xl text-dark-background dark:text-light-background"
>
  {
    socials?.devto && (
      <li>
        <a
          title="Devto"
          aria-label="Link to Devto"
          target="_blank"
          href={socials?.devto}
          data-umami-event="social_devto_click"
        >
          <i class:list={["ph", "ph-dev-to-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.github && (
      <li>
        <a
          title="Github"
          aria-label="Link to Github"
          target="_blank"
          href={socials?.github}
          data-umami-event="social_github_click"
        >
          <i class:list={["ph", "ph-github-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.instagram && (
      <li>
        <a
          title="Instagram"
          aria-label="Link to Instagram"
          target="_blank"
          href={socials?.instagram}
          data-umami-event="social_instagram_click"
        >
          <i class:list={["ph", "ph-instagram-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.linkedin && (
      <li>
        <a
          title="Linkedin"
          aria-label="Link to Linkedin"
          target="_blank"
          href={socials?.linkedin}
          data-umami-event="social_linkedin_click"
        >
          <i class:list={["ph", "ph-linkedin-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.mail && (
      <li>
        <a
          title="Mail"
          aria-label="Send a Mail"
          target="_blank"
          href={`mailto:${socials?.mail}`}
          data-umami-event="social_email_click"
        >
          <i class:list={["ph", "ph-envelope", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.mastodon && (
      <li>
        <a
          title="Mastodon"
          aria-label="Link to Mastodon"
          target="_blank"
          href={socials?.mastodon}
          data-umami-event="social_mastodon_click"
        >
          <i class:list={["ph", "ph-at", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.medium && (
      <li>
        <a
          title="Medium"
          aria-label="Link to Medium"
          target="_blank"
          href={socials?.medium}
          data-umami-event="social_medium_click"
        >
          <i class:list={["ph", "ph-book-open", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.twitch && (
      <li>
        <a
          title="Twitch"
          aria-label="Link to Twitch"
          target="_blank"
          href={socials?.twitch}
          data-umami-event="social_twitch_click"
        >
          <i class:list={["ph", "ph-twitch-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.twitter && (
      <li>
        <a
          title="Twitter"
          aria-label="Link to Twitter"
          target="_blank"
          href={socials?.twitter}
          data-umami-event="social_twitter_click"
        >
          <i class:list={["ph", "ph-x-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.website && (
      <li>
        <a
          title="Website"
          aria-label="Link to Website"
          target="_blank"
          href={socials?.website}
          data-umami-event="social_website_click"
        >
          <i class:list={["ph", "ph-globe", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.youtube && (
      <li>
        <a
          title="Youtube"
          aria-label="Link to Youtube"
          target="_blank"
          href={socials?.youtube}
          data-umami-event="social_youtube_click"
        >
          <i class:list={["ph", "ph-youtube-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
</ul>
