---
import type { Socials } from "../data/data.type";
interface Props {
  socials: Socials;
  class?: string;
}

const { socials } = Astro.props;
---

<ul
  class="flex flex-row flex-wrap gap-2 md:gap-3 align-middle justify-center lg:justify-normal listnon text-lg md:text-xl lg:text-2xl text-dark-background dark:text-light-background"
>
  {
    socials?.devto && (
      <li>
        <a target="_blank" href={socials?.devto}>
          <i class:list={["ph", "ph-dev-to-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.github && (
      <li>
        <a target="_blank" href={socials?.github}>
          <i class:list={["ph", "ph-github-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.instagram && (
      <li>
        <a target="_blank" href={socials?.instagram}>
          <i class:list={["ph", "ph-instagram-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.linkedin && (
      <li>
        <a target="_blank" href={socials?.linkedin}>
          <i class:list={["ph", "ph-linkedin-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.mail && (
      <li>
        <a target="_blank" href={`mailto:${socials?.mail}`}>
          <i class:list={["ph", "ph-envelope", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.mastodon && (
      <li>
        <a target="_blank" href={socials?.mastodon}>
          <i class:list={["ph", "ph-at", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.medium && (
      <li>
        <a target="_blank" href={socials?.medium}>
          <i class:list={["ph", "ph-book-open", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.twitch && (
      <li>
        <a target="_blank" href={socials?.twitch}>
          <i class:list={["ph", "ph-twitch-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.twitter && (
      <li>
        <a target="_blank" href={socials?.twitter}>
          <i class:list={["ph", "ph-twitter-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.website && (
      <li>
        <a target="_blank" href={socials?.website}>
          <i class:list={["ph", "ph-globe", Astro.props.class]} />
        </a>
      </li>
    )
  }
  {
    socials?.youtube && (
      <li>
        <a target="_blank" href={socials?.youtube}>
          <i class:list={["ph", "ph-youtube-logo", Astro.props.class]} />
        </a>
      </li>
    )
  }
</ul>
