---
import { Image } from "astro:assets";
import type { Speaker } from "../data/data.type";

interface Props {
  speaker: Speaker;
  index: number;
}

const { speaker, index } = Astro.props;
---

<div
  class="flex flex-col align-middle justify-center lg:grid lg:grid-cols-[2fr_3fr] lg:gap-5 mx-auto"
>
  <a
    aria-label={`Go to ${speaker.name}'s profile`}
    transition:name={`picture-speaker-${index}`}
    href={`/speaker/${index}#top`}
    data-umami-event="speaker_profile_click"
    class="w-[200px] h-[200px] mx-auto block rounded-full shadow-md overflow-hidden"
  >
    <Image
      src={speaker.picture}
      alt={`Picture of ${speaker.name}`}
      class="object-cover select-none mx-auto aspect-square w-[200px] h-[200px] hover:scale-110 transition-transform duration-500 ease-in-out"
      style="-webkit-user-drag: none;"
      height={200}
      width={200}
    />
  </a>
  <div
    class="flex flex-col align-middle justify-center gap-1 md:gap-3 py-[0px] text-center lg:text-left"
  >
    <h3 transition:name={`name-speaker-${index}`} class="text-2xl font-bold">
      {speaker.name}
    </h3>
    {
      speaker.position !== undefined && (
        <span class="text-sm">{speaker.position}</span>
      )
    }
  </div>
</div>
